<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}"> <!---Import CSS styles-->
    <script src="https://kit.fontawesome.com/5685ef7674.js" crossorigin="anonymous"></script>  <!---Import Awesome Icons 6-->
    <title>MaimoMikdash - Signup</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <!--Navbar setup-->
          <li><a href="https://maimomikdash.herokuapp.com/clear">Sign Out</a></li>
          <li><a href="https://maimomikdash.herokuapp.com/">Home</a></li>
          <li><a href="https://maimomikdash.herokuapp.com/kohen">Kohen Portal</a></li>
          <li><a href="https://maimomikdash.herokuapp.com/sanhedrin">File A Sanhedrin Lawsuit</a></li>
          <li><a href="https://maimomikdash.herokuapp.com/reserve">Reserve A Korban</a></li>
          <li><a href="https://maimomikdash.herokuapp.com/help">Help</a></li>
          <li><a href="https://maimomikdash.herokuapp.com/login">Log In</a></li>
          <li><a href="https://maimomikdash.herokuapp.com/signup">Sign Up</a></li>
        </ul>
    </div>
    <div class="logo">
        <a href="https://maimomikdash.herokuapp.com/">
          <img src="static/mikdash.png" alt="logo">
        </a>
      </div>
    <!--The following form allows users to sign up for an account-->
    <form action="https://maimomikdash.herokuapp.com/signup" method="POST">
    <h1>Sign Up</h1>
        <!--The status variable allows data to be passed from Python to HTML about the validity of the user information-->
    <p>Please enter your name below.<br>Usernames must be within 6 - 32 characters.<br>Passwords must contain one uppercase letter, a lowercase letter, a number, and be within 6 - 99 characters.<br>{{status}}</p>
    <i class="fa-solid fa-address-card"></i> <!---Icon-->
    <input placeholder="Name..." type="text" name="name">
    <i class="fa-solid fa-user"></i> <!---Icon-->
    <input placeholder="Username..." type="text" name="uname">
    <i class="fa-solid fa-key"></i> <!---Icon-->
    <input placeholder="Password..." type="password" name="pwd">
    <input type="submit" value="Sign Up">
    </form>
</body>
</html>
