<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:8080/signup" method="POST">
    <input placeholder="Name..." type="text" name="name">
    <input placeholder="Username..." type="text" name="uname">
    <input placeholder="Password..." type="password" name="pwd">
    <input type="submit" value="Sign Up">
    </form>
    <p>{{status}}</p>
</body>
</html>